.piece {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.bB { background-image: url('../piece-icons/bB.svg'); }
.wB { background-image: url('../piece-icons/wB.svg'); }
.bK { background-image: url('../piece-icons/bK.svg'); }
.wK { background-image: url('../piece-icons/wK.svg'); }
.bN { background-image: url('../piece-icons/bN.svg'); }
.wN { background-image: url('../piece-icons/wN.svg'); }
.bP { background-image: url('../piece-icons/bP.svg'); }
.wP { background-image: url('../piece-icons/wP.svg'); }
.bQ { background-image: url('../piece-icons/bQ.svg'); }
.wQ { background-image: url('../piece-icons/wQ.svg'); }
.bR { background-image: url('../piece-icons/bR.svg'); }
.wR { background-image: url('../piece-icons/wR.svg'); }

.white-square {
    background-color: #F0DAB7;
}

.black-square {
    background-color: #B58965;
}

.selected-square {
    background-color: #80986C;
}

.dot {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: #80986C;
    line-height: 75px;
    font-size: 20pt;
    cursor: default;
}